@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --VeryLightGrayishBlue: hsl(240, 78%, 98%);
    --LightGrayishBlue: hsl(234, 14%, 74%);
    --GrayishBlue: hsl(233, 13%, 49%);
    --DarkGrayishBlue: hsl(232, 13%, 33%);
    --LinearGradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
    --VeryDarkGrayishBlue: hsl(237, 63%, 64%);
    --White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: .9375rem;
}

body {
    background-image: url('./images/bg-top.svg'), url('./images/bg-bottom.svg');
    background-repeat: no-repeat;
    background-position: 0% 100%, 100% 0%;
    background-size: 18rem 15rem;
    height: 100vh;
    width: 100vw;
    background-color: var(--VeryLightGrayishBlue);
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 100%;
    min-height: 100%;
}

h1 {
    text-align: center;
    color: var(--LightGrayishBlue);
    font-size: 1.5em;
    padding: 2rem 0;
}


h2 {
    font-size: 1em;
}

h3 {
    font-size: 3.9em;
    padding: 1rem 3rem;
}

h4 {
    font-size: 3.9em;
    padding: 1rem 3rem;
    display: none;
}

p {
    font-size: 1em;
}

.selector {
    color: var(--LightGrayishBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}

#selector-bar {
    background-color: var(--VeryDarkGrayishBlue);
    width: 3rem;
    height: 1.5rem;
    margin: 0 1.2rem;
    padding: 0.1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

#selector-bar:hover {
    opacity: 0.6;
}

#selector-ball {
    width: 1.3rem;
    height: 1.3rem;
    background-color: var(--White);
    border-radius: 50%;
    transition-duration: 5000ms;
}

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2rem auto;
    text-align: center;
}

.card-left,
.card-middle,
.card-right {
    padding: 1.3rem;
    background-color: var(--White);
    width: 100%;
    box-shadow: 0 0 1.1875rem -.5rem rgba(0, 0, 0, 0.75);
}

.card-middle {
    padding: 3rem 1.3rem;
    background: var(--VeryDarkGrayishBlue);
    color: var(--White);
    border-radius: .625rem;
}

.card-middle p,
.card-left p,
.card-right p {
    padding: 1rem 0;
}

.card-left p,
.card-right p {
    color: var(--GrayishBlue);
}

.card-left {
    border-bottom-left-radius: .625rem;
    border-top-left-radius: .625rem;
}

.card-right {
    border-bottom-right-radius: .625rem;
    border-top-right-radius: .625rem;
}

#cards hr {
    width: 80%;
    margin: auto;
    opacity: 0.2;
}

button {
    width: 85%;
    margin: 1.5rem auto 0.5rem auto;
    padding: 0.8rem;
    cursor: pointer;
    font-size: 0.8rem;
    transition-duration: 500ms;
    color: var(--White);
    background-color: var(--VeryDarkGrayishBlue);
    border: none;
    border-radius: .3125rem;
    text-transform: uppercase;
}

.card-middle button {
    background-color: var(--White);
    color: var(--VeryDarkGrayishBlue);
}

.card-middle button:hover {
    background-color: transparent;
    color: var(--White);
}

button:hover {
    background-color: var(--VeryDarkGrayishBlue);
    color: transparent;
}

/* Media Queries */
@media (max-width: 48rem) {
    #cards {
        flex-direction: column;
    }

    .card-left,
    .card-middle,
    .card-right {
        width: 80%;
        margin: 1rem;
        border-radius: .625rem;
    }
}




    